extends ../../components/common/layout.pug

block content
  section.centered-content
    include _about.pug
  section.centered-content
    include _ai.pug
  section.centered-content
    include _product.pug
  section.centered-content
    include _culture.pug
  section.centered-content
    include _partner.pug
  section.centered-content
    include _joinUs.pug
  section.evenly-divided-content
    include _contactUs.pug
