extends ../../components/common/layout.pug


block head
  - var title = ' | 加入我们'
  - var enableManualInject = true

block header
  - var currentUrl = 'join-us.html'

block content
  h1 加入我们
  p
    a(href='index.html' target='_blank') Go Home
