extends ../../components/common/layout.pug

block head
  - var title = ' | 合作伙伴'
  - var enableManualInject = true

block header
  - var currentUrl = 'partner.html'

block content
  h1 合作伙伴
  p
    a(href='index.html' target='_blank') Go Home
