extends ../../components/common/layout.pug

block head
  - var title = ' | 公司产品'
  - var enableManualInject = true

block header
  - var currentUrl = 'product.html'

block content
  h1 公司产品
  p
    a(href='index.html' target='_blank') Go Home
