extends ../../components/common/layout.pug

block head
  - var title = ' | 关于嘉云'

block header
  - var currentUrl = 'about-us.html'

block content
  h1 关于嘉云
  p
    a(href='index.html' target='_blank') Go Home
