extends ../../components/common/layout.pug

block head
  - var title = ' | 人工智能+'

block header
  - var currentUrl = 'ai-plus.html'

block content
  h1 人工智能+
  p
    a(href='index.html' target='_blank') Go Home
