extends ../../components/common/layout.pug

block head
  - var title = ' | 团队文化'

block header
  - var currentUrl = 'culture.html'

block content
  h1 团队文化
  p
    a(href='index.html' target='_blank') Go Home
